[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
wtforms = "*"
python-ldap = "*"
dnspython = "*"
flask-wtf = "*"
pytz = "*"
flask-cors = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
