{% extends "base_es.html" %}
{% block title %}{{ name }}{% endblock %}
{% block content %}
{% from 'macros.html' import render_button %}
<div class="tree_base" style="min-height:10em;">
    <div>
        <p>
            {% if request.query_string %}
        <form method="post" action="?{{ request.query_string }}" class="form">
            {% else %}
            <div class="right input-group">
                <form method="post" action="?" class="form">
                    {{ form.csrf_token }}
                    {{ form.filter_select(class="button upper-element") }}
                    {{ form.filter_str(class="upper-element", id="search-field") }}
                    {{ form.search(class="button upper-element") }}
                    <!-- <input type="submit" value="Search"> -->
            </div>
        </form>
        {% endif %}

        {% if parent %}
        <a href="{{ url_for('tree_base', base=parent) }}" class="upper-element-link">
            <input type="button" value="Up a level" class="button upper-element"></a>
        {% endif %}
        {% if admin %}
        <a href="{{ url_for('group_add', base=base) }}" class="upper-element-link">
            <input type="button" value="Add group" class="button upper-element"></a>
        <a href="{{ url_for('user_add', base=base) }}">
            <input type="button" value="Add user" class="button upper-element"></a>
        <a href="{{ url_for('ou_add', base=base) }}" class="upper-element-link">
            <input type="button" value="Add OU" class="button upper-element"></a>
        {% if root != base and objclass=="OU"%}
        <a href="{{ url_for('ou_edit', ou_name=base) }}" class="upper-element-link">
            <input type="button" value="Edit {{name}}" class="button upper-element" style="margin-right:3px;"></a>
        <a href="{{ url_for('ou_delete', ou_name=base) }}" class="upper-element-link">
            <input type="button" value="Delete {{name}}" class="button upper-element" style="margin-top: 3px;"
                id="ou-delete-btn" disabled></a>
        {% endif %}
        <!--<a href="{{ url_for('core_index') }}" class="button">Create container</a>-->
        {% endif %}
        </p>
    </div>
    <h2>Register</h2>
    <form action="?" method="post">
        <table>
            <tr>
                {% for key, title in entry_fields %}
                {% if key == "name"%}
                <th> <input type="checkbox" id="select-all" class="form-check-input" onclick=selectAll()> {{ title }}
                </th>
                {% else %}
                <th>{{ title }}</th>
                {% endif %}

                {% endfor %}
            </tr>
            {% for entry in entries %}
            <tr>
                {% for key, title in entry_fields %}
                {% if key == "name" and key in entry %}
                <td style='padding-right:10px;white-space:nowrap;'>
                    <input type="checkbox" name="checkedItems" class="item-to-check form-check-input"
                        onclick="boxClicked();" data-reference-name="{{ entry[key] }}"
                        data-reference-type="{{ entry['__type'] }}"
                        value="{name:'{{ entry[key] }}', type:'{{ entry['__type'] }}', target:'{{ entry['__target'] }}'}">

                    <a href="{{ entry['__target'] }}">{{ entry[key] }}</a>

                    {% if entry['__type'] == "Organization Unit" %}
                    <input type="radio" name="moveHere" class="move-here-element" value="{{ entry['__target'] }}"
                        style="display: none;" data-reference-name="{{ entry[key] }}" onclick="radioClicked()">
                    <label for="moveHere" class="move-here-element move-here-span"
                        style="display: none; padding: 0;">here</label>
                    {% endif %}
                </td>
                {% elif key == "__type" and key in entry %}
                <td>{{ entry[key] }}</td>
                {% elif key in entry %}
                <td>{{ entry[key]|truncate(40) }}</td>
                {% else %}
                <td>&nbsp;</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <div class="row">

            {{ render_button(batch_delete.delete, disabled=true, id="delete-selection-btn",class="button
            col",style="margin-top: 20px") }}
            
            <input type="button" id="move-selection-btn" class="button col" style="margin-top: 20px" disabled=true
                onclick="onMoveBtnClicked();" value="Move Selection">
            
            {{ render_button(paste.paste,
                            id="paste-selection-btn",
                            onclick="pasteClicked()",
                            class="button col",
                            onclick="pasteClicked()",
                            style="margin-top: 20px; display:none;")}}

            {% if root != base and parent.upper() != root%}
            {{ render_button(moveToRoot.toRoot,
                            id="move-to-root-btn",
                            class="button col",
                            onclick="pasteClicked()",
                            style="margin-top: 20px; display:none")}}
            {% endif %}
            
            {%if parent != none %}
            {{ render_button(moveOneLevelUp.up_aLevel,
                            id="move-up-a-level-btn",
                            class="button col",
                            onclick="pasteClicked()",
                            style="margin-top: 20px; display:none")}}
            {%endif%}
            <input type="button" id="cancel-move-btn" class="button col" style="margin-top: 20px; display:none;"
                onclick="cancelMove()" value="Cancel">

        </div>
    </form>
</div>

<script src="../../static/js/batch_selection.js"></script>
{% endblock %}