{% extends "base_es.html" %}
{% block title %}{{ name }}{% endblock %}
{% block content %}
{% from 'macros.html' import render_button %}
<div class="tree_base" style="min-height:10em;">
    <div>
        <p>
            {% if request.query_string %}
        <form method="post" action="?{{ request.query_string }}" class="form">
            {% else %}
            <div class="right input-group">
                <form method="post" action="?" class="form">
                    {{ form.csrf_token }}
                    {{ form.filter_select(class="button") }}
                    {{ form.filter_str }}
                    {{ form.search }}
                    <!-- <input type="submit" value="Search"> -->
            </div>
        </form>
        {% endif %}

        {% if parent %}
        <a href="{{ url_for('tree_base', base=parent) }}" class="button">Up a level</a>
        {% endif %}
        {% if admin %}
        <a href="{{ url_for('group_add', base=base) }}" class="button">Add group</a>
        <a href="{{ url_for('user_add', base=base) }}" class="button">Add user</a>
        <a href="{{ url_for('ou_add', base=base) }}" class="button">Add OU</a>
        {% if root != base and objclass=="OU"%}
        <a href="{{ url_for('ou_edit', ou_name=base) }}" class="button">Edit {{name}}</a>

        <a href="{{ url_for('ou_delete', ou_name=base) }}">
            <input type="button" value="Delete {{name}}" class="button" style="margin-top: 3px;" id="ou-delete-btn"
                disabled>
        </a>
        {% endif %}
        <!--<a href="{{ url_for('core_index') }}" class="button">Create container</a>-->
        {% endif %}
        </p>
    </div>
    <h2>Register</h2>
    <form action="?" method="post">
        <table>
            <tr>
                {% for key, title in entry_fields %}
                {% if key == "name"%}
                <th> <input type="checkbox" id="select-all" class="form-check-input" onclick=selectAll()> {{ title }}
                </th>
                {% else %}
                <th>{{ title }}</th>
                {% endif %}

                {% endfor %}
            </tr>

            {% for entry in entries %}
            <tr>
                {% for key, title in entry_fields %}
                {% if key == "name" and key in entry %}
                <td style='padding-right:10px;white-space:nowrap;'>
                    <input type="checkbox" name="checkedItems" class="item-to-check form-check-input"
                        onclick="changeButton();"
                        value="{name:'{{ entry[key] }}', type:'{{ entry['__type'] }}', target:'{{ entry['__target'] }}'}">
                    <a href="{{ entry['__target'] }}">{{ entry[key] }}</a>
                </td>
                {% elif key == "__type" and key in entry %}
                <td>{{ entry[key] }}</td>
                {% elif key in entry %}
                <td>{{ entry[key]|truncate(40) }}</td>
                {% else %}
                <td>&nbsp;</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <div class="row">

            {{ render_button(batch_delete.delete, disabled=true, id="delete-selection-btn",class="button
            col",style="margin-top: 20px") }}
            
            <input type="button" id="move-selection-btn" class="button col" style="margin-top: 20px" disabled=true
            onclick="changeCheckedStyle();" value="Move Selection">
           
            <input type="button" id="paste-selection-btn" class="button col" style="margin-top: 20px; display:none;" value="Paste">
           
            <input type="button" id="cancel-move-btn" class="button col" style="margin-top: 20px; display:none;"
            onclick="cancelMove()" value="Cancel">
            
        </div>
        </form>
    <!-- {{ render_button(batch_move.move, disabled=true, id="move-selection-btn",class="button",style="margin-top: 20px") }}
        {{ render_button(batch_paste.paste, disabled=true, id="paste-selection-btn",class="button",style="margin-top: 20px; display:none") }} -->
</div>

<script src="../../static/js/batch_selection.js"></script>
{% endblock %}