html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    background-image: url("/static/img/screenshot.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body:hover{
    background-color: whitesmoke;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
table td, table th {
    vertical-align: top;
}
table tr:hover {
    background-color: #ededed;
}
pre {
    background-color: #f2f2f2;
    padding: 5px 5px 5px 3px;
    display: block;
    overflow: auto;
}
#flash-messages .warning pre {
    background-color: #ECA918;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.upper-element-link{
    text-decoration: none !important;
}
.move-here-element{
    /* padding: 0 10px 0 10px; */
    margin: 0;
    margin-left: 1em;
    text-decoration: none;
}
.move-here-span{
    margin: 0;
}

/* scrollbars  
NOTE:Custom scrollbars are not supported in Firefox or in Edge, prior version 79.*/
::-webkit-scrollbar-thumb {
    background: #dbdbdb;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
    background: #bcbcbc; 
    background-clip: content-box;
}