form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
form li {
    margin-bottom: 16px;
}
form li.form-submit {
    padding: 8px 0 0 0;
    margin-bottom: 0;
    text-align: right;
}
.form-errors,
form .errors,
form .field-error {
    color: #DE3E25;
}
form label {
    display: block;
    margin-bottom: 4px;
}
li ul li label {
    display: inline;
}
input,
select {
    margin: 0;
}
label .required {
    color: #0d4153;
}
form .help {
    display: block;
    color: #aea79f;
}
input[type="checkbox"] {
    margin-right: 3px;
}
textarea,
input[type="password"],
input[type="text"] {
    width: 350px;
    padding: 4px;
    border: 1px solid #999;
    font-size: 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #f8f9fd;
    overflow-wrap:break-word;
    white-space: nowrap;
    word-wrap: normal;
}
textarea:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    border-color: #000;
}
li.error textarea,
li.error input[type="password"],
li.error input[type="text"] {
    background-color: #F2CFCE;
}
input[type="text"].disabled {
    background-color: #f2f2f2;
}
input[type="text"]:focus {
    border: 1px solid #999;
}
a.button:hover {
    text-decoration: none;
}
.yui3-button,
.button,
button,
input[type="submit"] {
    padding: 4px 20px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    border: 1px solid #0082c9;
    background-color: #0082c9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.yui3-button:hover,
.button:hover,
button:hover,
input[type="submit"]:hover {
    background-color: #339bd4;
    border-color: #339bd4;
    text-decoration: none;
}
.yui3-button,
.button {
    display: inline-block;
}

/* Secondary buttons */
.yui3-button.secondary,
.button.secondary,
button.secondary,
input[type="submit"].secondary {
    border-color: #262626;
    background-color: #333;
    background-image: linear-gradient(bottom, rgb(51,51,51) 0%, rgb(77,77,77) 100%);
    background-image: -o-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(77,77,77) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(77,77,77) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(77,77,77) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(77,77,77) 100%);
    -webkit-box-shadow: inset 0 1px 0 0 rgba(77, 77, 77, 0.5);
    box-shadow: inset 0 1px 0 0 rgba(77, 77, 77, 0.5);
}
.yui3-button.secondary:hover,
.button.secondary:hover,
button.secondary:hover,
input[type="submit"].secondary:hover {
    background-image: linear-gradient(bottom, rgb(51,51,51) 0%, rgb(90,90,90) 100%);
    background-image: -o-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(90,90,90) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(90,90,90) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(90,90,90) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(90,90,90) 100%);
}
/* Disabled buttons */
.yui3-button:disabled,
.button:disabled,
button:disabled,
input[type="submit"]:disabled{
    cursor: not-allowed;
    border-color: #7ec0e3;
    background-color: #7ec0e3;
    background-image: none;
}
.link-button {
    display: inline-block;
    padding: 6px 0;
}
.spinner {
    float: right;
    margin: 8px 10px 0 0;
}
/* checkboxes */
.form-check-input {
  float: left;
  width: 1.1em;
  height: 1.1em;
  margin-top: 0.25em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  appearance: none;
  color-adjust: exact;
  border-radius: 3px;
}

.form-check-input:active {
  filter: brightness(90%);
}

.form-check-input:checked {
  background-color: #0d9efd;
  border-color: #0d9efd;
}
.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5; 
}
/* radios */
.form-radio-input{
  float: left;
  width: 1.1em;
  height: 1.1em;
  margin-top: 0.25em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  appearance: none;
  color-adjust: exact;
  border-radius: 3px;
}

/******************************************************************************
    modifier: inline-form
*/
.inline-form label {
    display: inline;
    margin-right: 4px;
}
