{% extends "base-modal_es.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% from "macros.html" import render_field %}
{% if request.query_string %}
<form method="post" action="?{{ request.query_string }}" class="form">
    {% else %}
    <form method="post" action="?" class="form">
        {% endif %}
        {{ form.csrf_token }}
        <ul>
            {% for field in form.visible_fields %}
            {{ render_field(field) }}
            {% endfor %}
        </ul>
        {% if parent %}
        <a class="link-button" href="{{ parent }}">Cancel</a>
        {% endif %}
        <input class="right" type="submit" value="{{ action }}" />
    </form>
    {% endblock %}