{% extends "base-modal_es.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% from "macros.html" import render_field %}
{% if request.query_string %}
<form method="post" action="?{{ request.query_string }}" class="form">
    {% else %}
    <form method="post" action="?" class="form">
        {% endif %}
        {{ form.csrf_token }}
        <ul>
            {{ render_field(form.first_name) }}
            {{ render_field(form.last_name) }}
            {{ render_field(form.user_name) }}
            {{ render_field(form.mail, class="main-mail") }}
            <label>{{ form.alias.label }}</label>
            <li id="add-alias">
                <!-- if user didnt set othermails, othermails[0] == '0' -->
                {% if othermails[0] != '0'%}
                {% for mail in othermails %}
                <div class="div-identifier">
                    <input class="other-mail" type="email" name="alias_mail" value="{{ mail }}"
                        placeholder="new alias">
                    <input type="button" value="-" class="remove-alias button">
                </div>
                {% endfor %}
                {% endif %}

            </li>
            <input type="button" value="+" id="add-alias-btn" class="button" onclick="addNewAliasField()">

            {{ render_field(form.uac_flags, class="form-control") }}
        </ul>

        {% if parent %}
        <a class="link-button" href="{{ parent }}">Cancel</a>
        {% endif %}
        <input class="right" type="submit" value="{{ action }}" />
    </form>

    <script src="../../static/js/otherMailbox_field.js"></script>
    {% endblock %}