{% extends "base-modal_es.html" %}
{% from "macros.html" import render_field %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% if request.query_string %}

<form method="post" action="?{{ request.query_string }}" class="form" autocomplete="off" enctype="multipart/form-data">
    {% else %}
    <form method="post" action="?" class="form" autocomplete="off" enctype="multipart/form-data">
        {% endif %}
        {{ form.csrf_token }}
        <div class="user-form">

            <ul>
                <label for="profile-container">Profile Picture</label>
                <div id="profile-container">
                    <image id="profileImage" src="../../static/img/pictogram_no_users.png" />
                </div>
                <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture>
                {{ render_field(form.first_name) }}
                {{ render_field(form.last_name) }}
                {{ render_field(form.user_name) }}
                {{ render_field(form.address, rows="3", cols="20", wrap="hard", class="address-field") }}
                {{ render_field(form.mail, class="main-mail") }}
                <div class="input-group">
                    <input type="button" value="+" id="add-alias-btn" class="button">
                    <span>{{ form.alias.label }}</span>
                </div>
                <li id="add-alias"></li>

                <div class="input-group">
                    <input type="button" value="+" id="add-home-phone-btn" class="button">
                    <span>{{ form.phones_home.label }}</span>
                </div>
                <li id="add-home-phone"></li>

                <div class="input-group">
                    <input type="button" value="+" id="add-mobile-phone-btn" class="button">
                    <span>{{ form.phones_mobile.label }}</span>
                </div>
                <li id="add-mobile-phone"></li>

                <div class="input-group">
                    <input type="button" value="+" id="add-office-phone-btn" class="button">
                    <span>{{ form.phones_office.label }}</span>
                </div>
                <li id="add-office-phone"></li>
                {{ render_field(form.employee_id) }}
                {{ render_field(form.role) }}
                <div class="autocomplete" id="manager-field-div" data-userlist="{{user_list}}">
                    {{ render_field(form.manager, id="manager-field")}}
                </div>
                <div class="input-group">
                    <input type="button" value="+" id="add-mac-address-btn" class="button">
                    <span>{{ form.mac_address.label }}</span>
                </div>
                <li id="add-mac-address"></li>
                {{ render_field(form.password) }}
                {{ render_field(form.password_confirm) }}
                {{ render_field(form.uac_flags) }}
            </ul>
        </div>
        {% if parent %}
        <a class="link-button" href="{{ parent }}">Cancel</a>
        {% endif %}
        <input class="right" type="submit" value="{{ action }}" />
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../../static/js/managerFieldAutocomplete.js"></script>
    <script src="../../static/js/add_new_field.js"></script>
    <script src="../../static/js/upload_pfp.js"></script>
    {% endblock %}