{% extends "base-modal_es.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% from "macros.html" import render_field %}
{% if request.query_string %}
<form method="post" action="?{{ request.query_string }}" class="form">
    {% else %}
    <form method="post" action="?" class="form">
        {% endif %}
        {{ form.csrf_token }}
        <ul>
            {{ render_field(form.first_name) }}
            {{ render_field(form.last_name) }}
            {{ render_field(form.user_name) }}
            {{ render_field(form.mail, class="main-mail") }}
            <div class="input-group">
                <input type="button" value="+" id="add-alias-btn" class="button">
                <span>{{ form.alias.label }}</span>
            </div>
            <li id="add-alias"></li>

            {{ render_field(form.password) }}
            {{ render_field(form.password_confirm) }}
            {{ render_field(form.uac_flags) }}
        </ul>

        {% if parent %}
        <a class="link-button" href="{{ parent }}">Cancel</a>
        {% endif %}
        <input class="right" type="submit" value="{{ action }}" />
    </form>

    <script src="../../static/js/otherMailbox_field.js"></script>
    {% endblock %}