{% extends "base-modal_es.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% from "macros.html" import render_field %}
{% if request.query_string %}
<form method="post" action="?{{ request.query_string }}" class="form">
    {% else %}
    <form method="post" action="?" class="form" autocomplete="off">
        {% endif %}
        {{ form.csrf_token }}
        <ul>
            {{ render_field(form.first_name) }}
            {{ render_field(form.last_name) }}
            {{ render_field(form.user_name) }}
            {{ render_field(form.address, rows="3", cols="20", wrap="hard", class="address-field") }}
            {{ render_field(form.mail, class="main-mail") }}
            <div class="input-group">
                <input type="button" value="+" id="add-alias-btn" class="button">
                <span>{{ form.alias.label }}</span>
            </div>
            <li id="add-alias"></li> 
            
            <div class="input-group">
                <input type="button" value="+" id="add-home-phone-btn" class="button">
                <span>{{ form.phones_home.label }}</span>
            </div>
            <li id="add-home-phone"></li>   
            
            <div class="input-group">
                <input type="button" value="+" id="add-mobile-phone-btn" class="button">
                <span>{{ form.phones_mobile.label }}</span>
            </div>
            <li id="add-mobile-phone"></li>   
            
            <div class="input-group">
                <input type="button" value="+" id="add-office-phone-btn" class="button">
                <span>{{ form.phones_office.label }}</span>
            </div>
            <li id="add-office-phone"></li>            
            {{ render_field(form.employee_id) }}
            {{ render_field(form.role) }}
            <div class="autocomplete" id="manager-field-div" data-userlist="{{user_list}}">
                {{ render_field(form.manager, id="manager-field")}}
            </div>
            <div class="input-group">
                <input type="button" value="+" id="add-mac-address-btn" class="button">
                <span>{{ form.mac_address.label }}</span>
            </div>
            <li id="add-mac-address"></li>
            {{ render_field(form.password) }}
            {{ render_field(form.password_confirm) }}
            {{ render_field(form.uac_flags) }}
        </ul>
        
        {% if parent %}
        <a class="link-button" href="{{ parent }}">Cancel</a>
        {% endif %}
        <input class="right" type="submit" value="{{ action }}" />
    </form>
    
    <script src="../../static/js/add_new_field.js"></script>
    <script src="../../static/js/managerFieldAutocomplete.js"></script>
    {% endblock %}