<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>AD Web Manager - {% block title %}{% endblock %}</title>
    {% block css %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/import.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    {% endblock %} {% block js %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    {% endblock js %}
  </head>

  <body>
    {% if self.header() %}
    <div id="header">{% block header %}{% endblock %}</div>
    {% endif %}
    <div class="center-page-wrapper">
      <div class="center-page-content">
        <h1 id="page-title">{{ self.title() }}</h1>
        <div id="body">
          {% if g.menu %}
          <div id="menu">
            <ul class="nav">
              {% for url, link in g.menu %}
              <li><a href="{{ url }}">{{ link }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="clear"></div>
          {% endif %}
          <div id="content">
            {% if get_flashed_messages(with_categories=true) %}
            <ul id="flash-messages">
              {% for category, msg in get_flashed_messages(with_categories=true)
              %}
              <div class="div-identifier">
                <li class="flash-messages {{ category }}">{{ msg }}</li>
              </div>
              {% endfor %}
            </ul>
            {% endif %} {% block content %}{% endblock %}
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
        <div id="footer-wrapper">
          <div id="footer">
            {% block footer %}{% endblock%}
            <p>
              &copy; 2017-2022 Vicente and Alain Garófalo.
              <a
                class="footer-link"
                href="https://github.com/VicentGJ/AD-webmanager"
              >
                AD WebManager</a
              >.
            </p>
            <div id="version">
              <p>
                Forked in 2017 from
                <a
                  class="footer-link"
                  href="https://github.com/stgraber/samba4-manager"
                  >Samba4 web manager</a
                >
                by Stéphane Graber.
              </p>
              <div>{{ g.app_version }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/js/quit_flash_message.js"></script>
    <style>
      #version {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    </style>
  </body>
</html>
